{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <div>
        <label>Case:</label>
        <input type="text" class="form-control" name="caseName"/>
    </div>
    <div>
        <label>Strap</label>
        <input type="text" class="form-control" name="strapName"/>
    </div>
    <div>
        <label></label>
    </div>

<input type="submit" value="Add my watch to Watch Up!" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}